*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: black;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    color:#0a0b0d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: 100%;
    height: 10%;
    background-color: black;

    background-image: url('Images/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


aside{
    width: 18%;
    height: 96%;
    margin-left:1%;
    margin-top: 1%;
    background-color: #3c5873;
    position: fixed;
}

aside ul{
    list-style: none;
    margin-top: 30%;
    margin-left: 20%;
    font-size: 36px;
}

aside a{
    display: block;
    text-decoration: none;
    color: #0a0b0d;
}

aside a:hover{
    color:white;
}


.contentCont{
    width:80%;
    height: 200%;
    /* background-color: tomato; */
    float: right;
}

main{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    flex-direction: column;
}

.About{
    background-color: #3c5873;
    margin-right:2%;

    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.About figure{
    width: 20%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    height: auto;
}

.About figure img{
    width: 100%;
    height: 100%
}

.AboutCont{   
    width: 70%; 

    /* background-color: blueviolet; */
}

.About h2{
    padding: 0 2%;
    font-size: 46px;
    height: max-content;
}

.About p{
    padding: 0 2%;
    font-size: 32px;
    /* background-color: hotpink; */
}

.Skills{
    margin-top: 5%;
    margin-right:2%;

    background-color: #3c5873;
    display:flex;
    align-items: flex-start;
}

.Skills h2{
    display: inline-block;
    font-size: 46px;
    padding-top:2%;
    padding-left: 2%;
}

.Skills h3{
    font-size: 46px;
    padding-bottom: 5%;
}

.Skills ul {
    display: inline-block;
    padding:2%;
    padding-left: 10%;
}

.Skills ul p{
    font-size: 32px;
    padding-top: 5%;
}

/* .Roadmap{
    background-color: darkcyan;
    margin-top: 10%;
    margin-left: 5%;
}

.Roadmap h2{
    display: inline-block;
    font-size: 32px;
}

.Roadmap h3{
    display: inline-block;
    padding-left: 20%;
    font-size: 32px;
}

.Roadmap h4{
    font-size: 32px;
    padding-top: 5%;
    background-color: darkmagenta;
} */

.Projects{
    margin-top:5%;
    margin-right:2%;
    background-color: #3c5873;
    display: flex;
    flex-direction: column;
}

.Projects h2{
    padding: 2%;
    font-size: 32px;
}

.Projects img{
    width: 20%;
}

.Projects figure{
    padding-bottom: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Projects figcaption{
    width: 65%;
    font-size: 24px;
    padding-left:1%;
}

.Projects figcaption h3{
    padding-bottom:2%;
}

.Contact{
    background-color: #3c5873;
    margin-top: 5%;
    margin-bottom:1.25%;
    margin-right:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Contact figure{
    text-align: center;
    padding:2%;
}

.Contact img{
    width: 40%;
}

.Contact figcaption{
    padding-top: 2%;
    font-size: 24px;
}